<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{asset('bundles/app/css/jquery-ui/jquery-ui.min.css')}}" >
            <link rel="stylesheet"
                  href="{{asset('bundles/app/css/jquery-ui/jquery-ui.theme.min.css')}}" >
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript"
                    src="{{asset('bundles/app/js/jquery-2.1.4.min.js')}}" >
            </script>
            <script type="text/javascript"
                    src="{{asset('bundles/app/js/jquery-ui.min.js')}}" >
            </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}
</body>
</html>