    {% extends 'common/app.html.twig' %}
    {% block header%}<h1>Customer list</h1>{% endblock %}
    {% block content%}
    <table class="records_list">
        <thead>
        <tr>                <th>Id</th>            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        <tr>                    <td>
                        <a href="{{ path('customer_show', { 'id': entity.id }) }}">
                            {{ entity.id }}</a>
                    </td>                    <td>
                <ul>
                    <li>
                        <a href="{{ path('customer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('customer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                    </td>        </tr>
        {% endfor %}
        </tbody>
    </table>
            <a class="button" href="{{ path('customer_new') }}">
            New Customer
        </a>
        {% endblock %}
