{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="{{asset( 'bundles/app/css/app.css' )}}" >
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript"
    src="{{asset( 'bundles/app/js/app.js' )}}" ></script>
{% endblock %}
{% block body %}
    <div id="container" class="ui-widget">
        <div id="header" class="ui-widget-header">
            {% block header %}
            {% endblock %}
        </div>
        <div id="content" class="ui-widget-content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer" class="ui-widget-content">
            {% block footer %}
                <a href="{{ path('catalog_index') }}">Back to catalog</a>
            {% endblock %}
        </div>
    </div>
{% endblock %}