<tr>
    <td>{{productLine.code}}</td>
    <td>{{productLine.title}}</td>
    <td>{{productLine.price}}</td>
    <td>{{productLine.quantity}}</td>
    <td>{{productLine.total|localizedcurrency(currency)}}</td>
</tr>