{% extends 'common/app.html.twig' %}
{% block content %}
    <table border="1">
        <tr>
            <td>ID</td>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <td>Label</td>
            <td>{{ category.label }}</td>
        </tr>
        <tr>
            <td>Parent</td>
            {% if(category.parentCategory is null) %}
                <td>No parent</td>
            {% else %}
                <td>
                    <a href="{{ path('catalog_category_show',
                                {'categoryId': category.parentCategory.id}) }}">
                        {{ category.parentCategory.label }}
                    </a>
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <a href="{{ path('catalog_category_list') }}">Back to list</a>
{% endblock %}