    {% extends 'common/app.html.twig' %}
    {% block header%}
    <h1>ProductAcquisition</h1>
    {% endblock %}
    {% block content%}
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>                    <td>
                        {{ entity.id }}
                    </td>            </tr>            <tr>
                <th>Date</th>                    <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>            </tr>            <tr>
                <th>Quantity</th>                    <td>
                        {{ entity.quantity }}
                    </td>            </tr>            <tr>
                <th>Price</th>                    <td>
                        {{ entity.price }}
                    </td>            </tr>        </tbody>
    </table>
        <ul class="record_actions">
    <li>
        <a href="{{ path('productacquisition') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('productacquisition_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    {% endblock %}
