{% block extends %}
    {{ "{% extends 'common/app.html.twig' %}" }}
{% endblock extends %}
{% block body %}
    {{ "{% block header %}" }}
    <h1>{{ entity }} edit</h1>
    {{ "{% endblock %}" }}
    {{ "{% block content %}" }}
    {{ '{{ form(edit_form) }}' }}
    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
    {{ "{% endblock %}" }}
{% endblock body %}